.content-tabs{
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
  
.content-tabs ul.tabs{
    display: flex;
    background-color: #f4f4f4;
    container-type: inline-size;
    container-name: tabs;
}
  
.content-tabs ul.tabs li.tab{
    width: 33.3333%;
    height: auto;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    background: #6e9041;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: clamp(0.625rem, 0.551rem + 0.432vw, 0.875rem);
}
  
.content-tabs ul.tabs li.tab:hover{
    background-color: #91934f;
}
  
.content-tabs ul.tabs li.tab#active{
    background-color: #6b7c3d;
    color: white;
}
  
.content-tabs .tab-content{
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-tabs .tab-content#active{
    display: block;
}

/* @container tabs (max-width: 468px){
    ul.tabs>li{
        width: max-content;
        height: 50px;
        padding: 0;
        font-size: 0.7rem;
    }
}

@container tabs (max-width: 375px){
    ul.tabs>li{
        font-size: 12px;
    }
}

@container tabs (max-width: 320px){
    ul.tabs>li{
        font-size: 10px;
    }
} */
