.contact-notify,
.user-notify{
    width: 150px;
    height: 45px;
    display: flex;
}

.contact-notify{
    grid-area: contact-notify;
}

.user-notify{
    grid-area: user-notify;
}

.contact-notify .icon-phone,
.user-notify .icon-user{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.contact-notify .contact-title,
.user-notify .user-title{
    width: 85%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.contact-title h4,
.user-title h4{
    font-weight: normal;
}

.contact-title a,
.user-title a{
    color: red;
    font-weight: bold;
}